<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="loyalty" translate="label" sortOrder="10">
			<label>Fidelización</label>
		</tab>
		<section id="customerloyalty" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
			<tab>loyalty</tab>
			<label>Configuración</label>
			<class>separator-top</class>
			<resource>Loyalty_CustomerLoyalty::configuration</resource>
			<group id="customer_loyalty" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
				<label>Configuración</label>
                <field id="delay_days" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Días para enviar correo</label>
                    <comment>This text will display on the frontend.</comment>
                </field>
			</group>
		</section>
	</system>
</config>
